.row{
    display: flex;
}
/* .card-img-top{
    position: fixed;
    width: 250px; */
/* } */
.card{
    background-color: rgb(136, 135, 135);
    
}
/* p{ */
    /* overflow: scroll; */
/* }
 */
.container{
    /* margin-left: 30px; */
}
body{
    background-color: rgb(211, 208, 208);
}