.row{
    display: flex;
}
/* .card-img-top{
    position: fixed;
    width: 250px; */
/* } */
/* .card{ */
    /* height: 315px; */
    
/* } */
/* p{ */
    /* overflow: scroll; */
/* }
 */
.container{
    /* margin-left: 30px; */
}
