.row{
    display: flex;
}
/* .card-img-top{
    position: fixed;
    width: 250px; */
/* } */
.card{
    background-color: rgb(221, 220, 226);
    /* width: 100px; */
    
}
/* p{ */
    /* overflow: scroll; */
/* }
 */
.container{
    /* margin-left: 30px; */
}
body{
    /* background-color: rgb(211, 208, 208); */
}
.loc{
    display: flex;
    background-color: rgb(163, 163, 161);
    flex-direction: row;
}
i{
    width: 30px;
    margin: 19px 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w3-section{
    margin-bottom: 16px!important;
}
.w3-content {
    margin-top: 1px;

    
}
.sidebar{
    background-color: rgb(201, 77, 77);
    width: 100px;
    height: 100%;
    left: 0;
}
footer{
    background-color: black;
    color: beige;
    text-align: center;
    position: fixed;
    padding: 15px;
    position: static;
    bottom: 0;
}